<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GGerador e Validador de CNPJ Alfanumérico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/Gera.png}" type="image/x-icon">
    <meta name="description"
          content="Gere e valide CNPJs alfanuméricos conforme a nova regulamentação brasileira.">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="container">
    <header>
        <img th:src="@{/images/Gera.png}" class="logo-banner" alt="Logo">
        <h1>Gerador e Validador de CNPJ</h1>
        <p>
            Gere e valide CNPJs alfanuméricos conforme a nova regulamentação.
        </p>
    </header>

    <section class="card">
        <form th:action="@{/generate}" method="get">
            <button class="primary-button">
                Gerar novo CNPJ
            </button>
        </form>

        <div class="generated-box">
            <span id="generated-cnpj"
                  th:if="${cnpj != null}"
                  th:text="${cnpj}">
            </span>
            <button th:if="${not #strings.isEmpty(cnpj)}"
                    type="button"
                    class="copy-button"
                    onclick="copyCnpj()">
                Copiar!
            </button>

            <span th:unless="${cnpj != null}">
                Clique em "Gerar novo CNPJ"
            </span>
        </div>
    </section>

    <section class="card">
        <h2>Validar CNPJ</h2>
        <form class="validate-form"
              th:action="@{/validate}"
              method="post">
            <label>
                <input
                        type="text"
                        name="cnpj"
                        placeholder="XX.XXX.XXX/XXXX-XX">
            </label>
            <button class="primary-button">
                Validar
            </button>
        </form>

        <div th:if="${valid != null}">
            <p class="success"
               th:if="${valid}">
                CNPJ válido
            </p>
            <p class="error"
               th:unless="${valid}">
                CNPJ inválido
            </p>
        </div>
    </section>

    <footer>
        Os CNPJs gerados são fictícios e destinados apenas para testes.
    </footer>

</div>
</body>
</html>